{% extends "szablon.html" %}
{% block tytul %}QUIZ ~ dodaj pytania{% endblock %}
{% block h1 %}Dodawanie Pytań{% endblock %}

{% block tresc %}
    <h1>Dodaj Pytanie</h1><br>
    <form method="POST">
        {{ form.csrf_token }}
        
        {{ form.pytanie.label }}<br>
        {{ form.pytanie }}<br>
        <br>
        {{ form.kategoria.label }}<br>
        {{ form.kategoria(class="form-control" }}<br>
        <br>
        {% for o in form.odpowiedzi %}
            pass
        {% endfor %}
    
    <input type="submit" value="Zapisz pytanie">
    </form>
{% endblock %}
