<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<title>QUIZ</title>
</head>

<body>
    <p><center>
        <img src="../static/img/quiz.png" align="middle">
    </center></p>
    
    <h1><center>Zapraszam do Quiz'u</center></h1>
    <h2>Pytania</h2>
    <form method="POST">
    {% for p in query %}
    <p>
        {{ p.id }} {{ p.pytanie }}<br>
        <br>
        {% for o in p.odpowiedzi %}
        
        <input type="radio" name="{{ p.id }}" value="{{ o.id }}">
        {{ o.odpowiedz }}
        <br>
        {% endfor %}
    </p>
    {% endfor %}
    <input type="submit" value="Zapisz odpowiedzi">
    </form>
</body>

</html>
